<h1>Post API Form</h1>

<form #apiform="ngForm" (ngsubmit)="onSubmit(apiform.value)"> 
  <div class="form-group">
   
    <input type="email" class="form-control"  placeholder="Enter userId" ngModel><br><br>
    
  </div>
  <div class="form-group">
    
    <input type="text" class="form-control"  placeholder="id" ngModel><br><br>
  </div>
  <div class="form-group">
  
    <input type="text" class="form-control"  placeholder="title" ngModel><br><br>
  </div>

  <div class="form-group">
   
    <input type="text" class="form-control"  placeholder="body" ngModel><br><br>
  </div>
  
  <button   type="submit" class="btn btn-primary">Submit</button>
</form>